torch
packaging
accelerate
bitsandbytes
datasets
einops
evaluate
mosaicml[wandb]
polars
python-dotenv
sentence-transformers
torch
torchvision
torchmetrics
tqdm
transformers
wandb
zstandard
hf-transfer
wheel
statsmodels
psycopg[binary]
black
ipykernel
ruff
loguru
httpx
orjson
pyvespa
pydantic
flash-attn
vllm
click
orjson
typing_extensions